[submodule "sanitizers-cmake"]
	path = sanitizers-cmake
	url = git://github.com/arsenm/sanitizers-cmake
[submodule "cmake-unit"]
	path = cmake-unit
	url = git://github.com/polysquare/cmake-unit
[submodule "parallel-build-target-utils"]
	path = parallel-build-target-utils
	url = git://github.com/polysquare/cmake-parallel-build-target-utils
[submodule "tooling-cmake-util"]
	path = tooling-cmake-util
	url = git://github.com/polysquare/tooling-cmake-util
